
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    
    <h1>
        hola a todos, soy el conductor {{conductor1.nombre}}{{conductor1.apellido}} con numero  de celular {{conductor1.celular}} y mi edad es {{conductor1.edad}} años 
    </h1>
    
    <h1>
       
        {{objetos}}

       {% for conductor in conductores %}

            <p>hola  {{conductor.nombre}} {{conductor.apellido}} les damos la bienvenida de la empresa Transgalaxia.</p>
            
        {% endfor %}

    </h1>
</body>
</html>


