<!DOCTYPE html>
<html lang="en">
    <head>
        
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Landing Page - Start Bootstrap Theme</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static "miapp/css/styles.css" %}" rel="stylesheet" />

    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="btn btn-secondary" href="{% url "conductor" %}"> Crear Conductor </a>
                <a class="btn btn-secondary" href="{% url "empresa" %}"> Crear Empresa </a>
                <a class="btn btn-secondary" href="{% url "ruta" %}"> Crear Ruta </a>
                <a class="btn btn-primary" href="{% url "buscar_conductor" %}"> Buscar Conductor </a>
                <a class="btn btn-primary" href="{% url "buscar_ruta" %}"> Buscar Ruta </a>
                <a class="btn btn-primary" href="{% url "buscar_empresa" %}"> Buscar Empresa </a>
                
                {% if request.user.is_authenticated %}
                    <a class="btn btn-primary" href="{% url "Logout" %}">Logout</a>
                {% else %}
                    <a class="btn btn-primary" href="{% url "Login" %}">Iniciar Sesion</a>
                {% endif %}

                <a class="btn btn-primary" href="{% url "Editar User" %}">Editar usuario</a>
                
            </div>
        </nav>
        <!-- Masthead-->
            <div class="container position-relative">
                <div class="row justify-content-center">
                        <div class="text-justify text-black">

                            <!-- Page heading-->
                            <div class="container position-relative">
                                <div class="row justify-content-center">
                                        <div class="text-center text-black">
                                            <br>
                                            <br>
                                            {% if request.user.is_authenticated %}
                                                <h1 class="mb-5"> Hola , {{user.username}} </h1>
                                                    <img src="{{url}}" width="200" height="200" >
                                            {% else %}
                                                <h1 class="mb-5"> Hola , invitado </h1>
                                            {% endif %}
                                        </div>
                                </div>
                            </div>

                            <br>
                            <br>
                            
                            <h1 class="mb-5">About me:</h1>

                                    <p>TRANSPORTE EMPRESARIAL
                                        Brindamos un servicio de transporte único en el traslado de personal desde y hacia su empresa, garantizando cumplimiento de los horarios establecidos, comodidad con nuestro parque automotor renovado y seguridad en cada ruta de destino dentro y fuera de la ciudad.
                                        En AS TRANSPORTES estamos certificados integralmente bajo las normas ISO 9001, ISO 14001 y OHSAS 18001, lo cual nos permite ofrecer a su empresa la confianza de adquirir grandes y mejores procesos de calidad, acreditados por una entidad imparcial y reconocida a nivel mundial como es Bureau Veritas.
                                        Nuestro servicio a nivel Nacional permite brindarle mayores coberturas en sus solicitudes de transporte, en donde contamos con una amplia red de oficinas ubicadas en: Bogotá, Medellín, Cali, Montería, Cartagena, Barranquilla, Bucaramanga, Buenaventura, Pereira y Manizales.
                                        APLICATIVO MÓVIL AS EMPRESARIAL
                                        Nuestro nuevo aplicativo AS empresarial brinda seguridad y confianza a empresas y empleados, una herramienta que ofrece información en tiempo real del vehículo, quién transporta a sus empleados y permite una comunicación permanente entre empresa, empleados, conductores y AS TRANSPORTES.
                                        Es una solución de tecnología móvil que brinda muchas ventajas, entre ellas:
                                        Mantener informado en tiempo real de lo que pasa con el recorrido de sus empleados.
                                        Saber con anticipación horas de recogida y llegada, conocer condiciones del tráfico, cierres viales, retrasos por congestión, posibles desvíos, rutas alternas y control de la velocidad
                                        Establecer los recorridos más eficientes y la mejor ruta de acuerdo a las condiciones viales.
                                        Notificar inasistencia.
                                    </P>
                                
                                <ul>
                                    <li> Mejores conductores de la ciudad.</li>
                                    <li> Mejores empresas de la ciudad.</li>
                                    <li> Mejores rutas para la comodidad de sus hijos. </li>
                                </ul>
                            <br>
                            <br>
                            <h2>Creado por:</h2>
                            <br>
                            <br>

                            <p> Estudiante Brian Alexander Amezquita parada estudiante de CODER-HOUSE en el curso de python
                                ,estudiante de inegenieria de sistemas de la universidad central de Colombia - Bogota Dc:

                                Cree este proyecto para diligenciar datos de algunas empresas de transporte en el sector con el fin de 
                                poder ayudar a solucionar todos los problemas que poseen esto servicios a la hora de transitar en las calles de bgota tanto problemas internos de ruta como externos por lo cual un usuario poder consultar las rutas de sus hijos, los conductores y a que empresa pertenecen y tambien crear un  usuario con el fin de tener mas claridad de queines nos consultan para lo cual econtraran un espaciado de comentarios para poder solucionar sus dudas y nosotros poder acalarar todos los inconveninetes.
                            </p>
                            

        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="#!">About</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2022. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
